<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDc8d--hwiH2XnbxSir3e4-6ryJ52sAgV0</string>
	<key>GCM_SENDER_ID</key>
	<string>167587454567</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.scanner.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>emailsigin-92905</string>
	<key>STORAGE_BUCKET</key>
	<string>emailsigin-92905.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:167587454567:ios:593fb3305433b1cf3c3ec2</string>
	<key>DATABASE_URL</key>
	<string>https://emailsigin-92905-default-rtdb.firebaseio.com</string>
</dict>
</plist>